/* Styles the HTML body tag and all data within it */
body 
{
    color: black;
    background-image: url("BackGround.jpg");
    font-size: 20pt;
    font-family:"Arial";
}

h1
{
    /* Places the H1 tag In the centre of the page*/
    position: fixed;
    top: -30px;
    left: 30%;
    font-size: 36pt;
}

p
{
    /* Places The Message in the center of the page*/
    position: fixed;
    top: 35px;
    left: 25%;
    font-size: 30pt;
}

form
{
    /* Places the form and its associated radio buttons on the centre of the page*/
    position: fixed;
    top: 150px;
    left: 35%;
}
/* canges the look of allof the radio buttons to be sligly larger than there orginal size*/
#RdBtn1
{
    height:20px; width:20px;
}

#RdBtn2
{
    height:20px; width:20px;
}

#RdBtn3
{
    height:20px; width:20px;
}

#RdBtn4
{
    height:20px; width:20px;
}

#RdBtn5
{
    height:20px; width:20px;
}

#RdBtn6
{
    height:20px; width:20px;
}

#RdBtn7
{
    height:20px; width:20px;
}


#RdBtn8
{
    height:20px; width:20px;
}

#RdBtn9
{
    height:20px; width:20px;
}


#RdBtn10
{
    height:20px; width:20px;
}


