/* Styles the HTML body tag and all data within it */
body 
{
    color: black;
    font-size: 20pt;
    font-family:"Arial";
    background-image: url("BackGround.jpg");
}

h1
{
    /* Places the H1 tag In the centre of the page*/
    position: fixed;
    top: 13%;
    left: 34%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 30pt;
}

h2
{
    /* Places the H1 tag In the centre of the page*/
    position: fixed;
    top: 13%;
    left: 34%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 30pt;
}

form
{
    /* Places the form and its associated radio buttons on the centre of the page*/
    position: fixed;
    top: 150px;
    left: 35%;
}
/* canges the look of allof the radio buttons to be sligly larger than there orginal size*/
#RdBtn1
{
    height:20px; width:20px;
}

#RdBtn2
{
    height:20px; width:20px;
}

#RdBtn3
{
    height:20px; width:20px;
}

#RdBtn4
{
    height:20px; width:20px;
}

button
{
    /* Places the buttons at the bottom of the screen 
    make all of the buttons yellow xhnage text size to 14 
    create a greay border around the button*/
    position: relative;
    top: 650px;
    left: 23%;
    margin: 10px;
    background-color: goldenrod;  
    font-size: 14pt;  
    border-radius: 8px;
    box-shadow: 0 9px #555;
    text-align: center;
    border: 2px solid #555; /* Green */
}

button:active
{
     /* When the button is clicked change the colour to green 
    and chnage the boder and the shadow colour to black 
    move the button back by four pixels when clciked*/
    background-color: green;
    font-size: 14pt;  
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 9px #000000;
    border: 2px solid #000000; /* Green */
    transform: translateY(4px);
}

/* You use the # to indiviualy adddress and item 
#BtnExit
{
 font-size:  24pt;
}
*/
